.booking-container {
  display: flex;
  width: 100%;
}

.booking-container .right-side {
  flex: 0.4;
}

.booking-container .left-side {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.amenities-list {
  padding-top: 10px;
}

.amenities-item {
  display: inline-block;
  margin: 5px;
  font-size: 14px;
  padding: 7px 12px;
  border-radius: 15px;
  border: 1px solid #0a66bb;
  background: #fff;
}

.booking-room-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.value-item {
  display: block;
  text-align: left;
  color: #0a66bb;
  font-weight: bold;
  margin-bottom: 10px;
}

.date-range {
  text-align: center;
}

.date-range label,
input {
  margin: 10px;
  font-size: 16px;
}

.date-range input[type="date"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-btn {
  background-color: transparent;
  color: #0a66bb;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

.add-btn span {
  margin-top: 10px;
  margin-left: 2px;
}

.person-list {
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.book-btn {
  width: 85%;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 34px;
  border-radius: 2px;
  border: 1px solid #0a66bb;
  background: #0a66bb;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.book-btn:hover {
  background: #0e4375;
  border-radius: 5px;
  color: whitesmoke;
}
.flex-container {
  padding: 4px;
}

.booking-details {
  display: flex;
  justify-content: flex-start;
  padding-top: 2%;
  padding-left: 10%;
  align-items: center;
}

/* ######## Media Query  ###########*/

@media (max-width: 992px) {
  .filter-container {
    flex: 0.3;
  }
}

@media (max-width: 768px) {
  .booking-container {
    flex-direction: column;
    max-height: 80vh;
    overflow-y: auto;
  }

  .person-list {
    max-height: unset;
    overflow-y: unset;
  }

  .booking-container .right-side {
    flex: unset;
  }

  .booking-container .left-side {
    flex: unset;
  }
}
