.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: calc(90vh - 40px);
}

.search-btn {
  border-radius: 5px;
}
.search-btn:hover {
  background-color: #10518e;
  border-radius: 4px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.92); /* Light gray with 50% opacity */
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 15%;
  height: 80vh;
  object-fit: cover;
  max-width: 80%;
}

.overlay-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  /* background-color: brown; */
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.74) 50%,
    #fff
  );
  width: 100%;
  height: 200px;
}

.content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.hero-heading {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -120px;
}

.hero-description {
  margin-top: 30px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  max-width: 750px;
}

.form-container {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 20px;
}

.form-container button {
  display: block;
  border-radius: 2px;
  background-color: #0a66bb;
  color: #fff;
  border: none;
  width: 117px;
  height: 34px;
  cursor: pointer;
}
.input-container {
  display: flex;
  align-items: center;
  border-radius: 2px;
  border: 1px solid #878787;
  background: #fff;
  height: 34px;
  font-size: 12px;
}

.input-icon {
  color: #0a66bb;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.text-input {
  flex: 1;
  border: none;
  outline: none;
}

.input-icon.start {
  order: -1;
}

.input-icon.end {
  order: 1;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 0px 0px 3px 3px;
  background: #fff;
  box-shadow: 0px 3px 13px -2px rgba(0, 0, 0, 0.25);
  max-height: 300px;
  overflow-y: auto;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: rgba(10, 102, 187, 0.12);
}

.person-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  border-radius: 2px;
  border: 1px solid #878787;
  background: #fff;
  height: 34px;
  cursor: pointer;
  width: 50px;
}
.person-menu:hover {
  box-shadow: 1px 1px rgb(163, 162, 162);
}

/* ######## Media Query  ###########*/

@media (max-width: 992px) {
  .form-container {
    flex-direction: column;
    align-items: center;
  }
}
