.card-container {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #878787;
  width: 300px;
  margin: 10px;
}
.card-body {
  display: flex;
  justify-content: space-between;
}

.card-image {
  width: 280px;
  height: 210px;
  /* object-fit: contain; */
}

.rating {
  display: flex;
  align-items: center;
}
.rating span {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.price {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
}

.view-btn {
  padding: 5px 30px;
  background: #0a66bb;
  color: white;
  display: flex;
  align-items: center;
}
