* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #007bff;
}

h1,
h2,
h3 {
  font-weight: bold;
}

p {
  line-height: 1.5;
}

.text-center {
  text-align: center;
}

.flex-container {
  display: flex;
  align-items: center;
}

.box-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 500px;
}

.page-loader {
  width: 50px;
  height: 50px;
  --c: radial-gradient(farthest-side, #0a66bb 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: s7 1s infinite;
}
@keyframes s7 {
  to {
    transform: rotate(0.5turn);
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

/* @media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
} */
