.header {
  display: flex;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex: 0.4;
}

.nav-list {
  text-decoration: none;
  display: flex;
}
.nav-item {
  margin: auto 20px;
}

.nav-item a {
  color: black;
}

.nav-item a {
  text-decoration: none;
}
