.header {
  display: flex;
  padding: 30px;

  justify-content: space-between;
  align-items: center;
  height: 45px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex: 0.4;
}

.nav-list {
  text-decoration: none;
  display: flex;
  margin-left: 50px;
}
.nav-item {
  margin: auto 50px;
  font-size: 19px;
  font-weight: 500;
}

.nav-item a {
  color: black;
}
.nav-item a:hover {
  color: rgb(9, 9, 121);
}
.sign-in {
  font-size: 18px;
  font-weight: 500;
  font-family: sans-serif;
  margin-right: 40px;
}
.sign-in:hover {
  color: navy;
  cursor: pointer;
}
.nav-item a {
  text-decoration: none;
}
